<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bookforms</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
	</style>
</head>
<body>
	<div class="sidenav">
		<a href="/">Books</a>
		<a href="/book-info">Book Information</a>
		<a href="/add-chapter">Add chapter</a>
	</div>
	<div class="container">
		<h2>Books</h2>
		{% for book in books %}
			<h2><a href="/book-info/{{ book.id }}">{{ book.title }}</a></h2>
			<small>{{ book.author }} {{ book.date }}</small>
			<p> {{ book.description }} </p>
		{% endfor %}

		<a href="/book-info">Create book</a>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script>

	</script>
</body>
</html>