<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bookforms</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
	</style>
</head>
<body>
	<div class="sidenav">
		<a href="/">Books</a>
		<a href="/book-info">Book Information</a>
		{% if book is defined %}
			<a href="/edit-chapter/{{ book }}">Add chapter</a>
		{% endif %}
		
	</div>
	<div class="container">
		<div class="row">
			<div class="register">
				<h2>Bookforms</h2>
				<small>Write a book one chapter at a time.</small>
				<br><br>

				<form action="/save-book-info" method="post">

					<label for="title-input">Title</label><br>
					<input id="title-input" type="text" name="title"><br>
					<label for="author-input">Author</label><br>
					<input id="author-input" type="text" name="author"><br>
					<label for="description-input">Description</label><br>
					<textarea id="description-input" name="description"></textarea>
					<br>
					<div style="text-align: right;">
						<button type="submit" id="save-btn">Save</button>
					</div>

				</form>
				
				{% if book is defined %}
					{% for b in books %}
						{% for chapter in b.chapters %}
							<div class="chapter-list-item">
								<h2><a href="/edit-chapter/{{ b.id }}">{{ chapter.title }}</a></h2>
								<small>{{ chapter.date }}</small>
							</div>
						{% endfor %}
					{% endfor %}
				{% endif %}
				

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script>

	</script>
</body>
</html>