<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bookforms</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
	</style>
</head>
<body>
	<div class="sidenav">
		<a href="/">Books</a>
		<a href="/book-info">Book Information</a>
		<a href="/edit-chapter">Add chapter</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="register">
				<h2>Bookforms</h2>
				<small>Write a book one chapter at a time.</small>
				<br><br>
				{% if chapter is defined %}
					<h4>{{ chapter.title }}</h4>
				{% endif %}
				<form action="/add-chapter" method="post">

					<label for="title-input">Title</label><br>
					<input id="title-input" type="text" name="title"><br>
					<label for="chapter-input">Chapter</label><br>
					<textarea id="chapter-input" name="chapter"></textarea>
					<br>
					<div style="text-align: right;">
						<button type="submit" id="save-btn">Save</button>
					</div>

				</form>
				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script>

	</script>
</body>
</html>