<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bookforms</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
	</style>
</head>
<body>
	<div id="app">
		
		<div class="sidenav">
			<a href="/">Books</a>
			<a href="/new-book">New Book</a>
			{% if book is defined %}
				<meta id="book-id" data-content="{{book}}">
				<a href="/edit-book/{{ book }}">Edit Book</a>
				<a href="/new-chapter/{{ book }}">Add chapter</a>
			{% endif %}
		</div>
		<div class="container">
			<div class="row">
				<div class="register">
					<h2>Bookforms</h2>
					<small>Write a book one chapter at a time.</small>
					<br><br>

					<form action="/save-edit-book" method="post" data-bind="with: book">

						<label for="title-input">Title</label><br>
						<input id="title-input" type="text" name="title" data-bind="textInput: title"><br>
						<label for="author-input">Author</label><br>
						<input id="author-input" type="text" name="author" data-bind="textInput: author"><br>
						<label for="description-input">Description</label><br>
						<textarea id="description-input" name="description" data-bind="textInput: description"></textarea>
						<br>
						<div style="text-align: right;">
							<a href="/edit-chapter/{{ book }}" class="btn1">Add chapter</a>
							<button type="submit" id="save-btn">Save</button>
						</div>

					</form>
					
					{% if book is defined and books is defined %}
						{% for b in books %}
							{% for chapter in b.chapters %}
								<div class="chapter-list-item">
									<h2><a href="/edit-chapter/{{ b.id }}/{{ chapter.id }}">{{ chapter.title }}</a></h2>
									<p>{{ chapter.content }}</p>
									<small>{{ chapter.date }}</small>
								</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
					

				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script>

		function AppModelView() {
			var self = this;
			self.book = ko.observable();

			self.BookModel = function(b) {
				var bm = this;
				bm.title = ko.observable(b.title);
				bm.author = ko.observable(b.author);
				bm.description = ko.observable(b.description);
			}

			self.init = function() {
				$.getJSON("/get-book", {id: $('#book-id').data().content})
				.done(function(data) {
					console.log(data);
					self.book(new self.BookModel(data));
					console.log(self.book().author());
				});
			}
			self.init();
		}

		ko.applyBindings(new AppModelView(), document.getElementById("app"));
	</script>
</body>
</html>